{
  admin off
  auto_https off
}

:80 {
  bind 127.0.0.1
  root * C:\software-dev\gx.go\dist\apps\go-web\browser
  encode zstd gzip

  @backend path /api/* /socket.io/*
  handle @backend {
    reverse_proxy 127.0.0.1:3000 {
      flush_interval -1
      stream_close_delay 5m
      transport http {
        versions 1.1
      }
    }
  }

  handle {
    try_files {path} /index.html
    file_server
  }
}
